# Rename this file to .env and fill in the values before running the application.
# Commented variables are optional.

# OpenAI API key
OPENAI_API_KEY=your_openai_api_key_here

# Url where your app is running
APP_URL=http://localhost:3000                   # Internal network URL, not exposed to client-side code
NEXT_PUBLIC_APP_URL=http://localhost:3000       # Used for client-side code
# NEXT_PUBLIC_SOCKET_URL=http://localhost:4001  # Used for real-time features

# MongoDB connection string and database name
MONGODB_URI=mongodb://localhost:27017/development   # Ensure to pass a database name in the connection string

# Google OAuth Credentials
# See https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Better Auth
BETTER_AUTH_SECRET=your_better_auth_secret  # See https://www.better-auth.com/docs/reference/options#secret

# Mail Server (Development only)
SMTP_PORT=1025
SMTP_HOST=localhost
# ALLOWED_EMAIL_HOSTS=example.com

# Task Scheduler
# See [Human Interval](https://github.com/agenda/human-interval)
WORKER_PROCESSING_INTERVAL="30 seconds"
