# Rename this file to .env and fill in the values
# before running the application.

# OpenAI API key
OPENAI_API_KEY=your_openai_api_key_here

# Url where your app is running
APP_URL=http://localhost:3000

# MongoDB connection string and database name
MONGODB_URI=mongodb://localhost:27017/
DATABASE_NAME=YourDatabaseName

# Mail Server
SMTP_PORT=1025
SMTP_HOST=localhost # e.g., smtp.mailtrap.io for Mailtrap

# Task Scheduler
WORKER_PROCESSING_INTERVAL="1 hour" # [Human Interval](https://github.com/agenda/human-interval)
